* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: cairo , system-ui;
    background: linear-gradient(#10001f , #200016);
    height: 100vh;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

/* header */
header {
    z-index: 100;
}
header nav .container ul li a:hover {
    background-color: #fff;
    color: #200016;
}
.moon2 {
    mix-blend-mode: screen;
    transform: translateY(0px);
    height: 800px;
}
.word {
    transform: translateY(-190px);
    font-size: 25px;
}
 .content {
    background-color: #1a0817;
 }